<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/modal.css">
</head>
<body>
    
    <h1>Lista de eventos</h1>
    <button id="abrirModalAdicionar">Adicionar Evento</button>
    <div id="listaEventos">
        <table>
            <thead>
            <tr>
                <th>Nome</th>
                <th>Data</th>
                <th>Categoria</th>
                <th>Prioridade</th>
                <th>Situação</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody id="corpoTabela">
            
            </tbody>
        </table>
    </div>

    
    <h2>Timers</h2>
    <button id="abrirModalAdicionarTimer">Adicionar Timer</button>
    <div id="corpoTabelaTimers"></div>

    <h2>Eventos Recorrentes</h2>
    <button id="abrirModalAddEventoRecorrente">Adicionar Evento Recorrente</button>
    <button id="abrirModalListarEventoRecorrente">Listar Eventos Recorrentes</button>
    <br><br>

    <h2>Lista de Categorias</h2>
    <button id="abrirModalAdicionarCategoria">Adicionar Categoria</button>
    <button id="abrirModalListarCategorias">Listar Categorias</button>
    <div id="corpoTabelaCategoria"></div>



    
    
    

    <script type="module" src="main.js" defer></script>


</body>
</html>